:root{
    --sans: 'Outfit', sans-serif;
    --grey: #7c7c7c;
}

@media screen and (max-width: 800px){

    form{
        flex-direction: column;
    }
    select{
        padding: 0.5rem;
        width: fit-content;
    }
    .optselected{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .optselected ul{
        width: 80%;
    }
}