:root{
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
}

h1{
    
}

.optselected{
    color: yellow;
}

