:root{
    --sans: 'Outfit', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: var(--sans);
    padding: 0;
    margin: 0;
}

.upper{
    background-image: url("../resources/back-image.webp");
    width: 100%;
    background-size: cover;
    padding: 2rem 0;
    margin: 0;    
}

.logo{
    width: 10rem;
    align-self: flex-start;
    padding-bottom: 2rem;
}

select{
    border-radius: 5rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}

button.send{
    border-radius: 5rem;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    text-align: center;
    cursor: pointer;
}


form h2{
    text-shadow: 2px 2px 4px #000000;
}

.optselected{
    margin: 0;
    background-image: url("../resources/items-section.jpg");
    background-size: cover;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.optselected ul{
    justify-self: center;
    margin: 0;
    padding: 0;
    width: 30%;
}

.optselected li{
    list-style: none;
    padding: 1rem;
    margin: 1rem;
    background-color: #757575;
    border-bottom: 2px solid #000000;
    border-left: #000000 solid 2px;
    border-radius: 1rem;
}